body{/*Makes a css code for all of the body information in each page*/
    background-color: grey;/*Makes the background color grey*/
    padding: 10px;/*Makes space around information/image*/
}
.row{/*Makes a row code for all the information inside row*/
    margin: 0px;/*Margin is used to maove or direct information*/
}
.title{/*Makes a title code for all of the body information in each page*/
    padding: 3px;/*Makes space around information/image*/
    margin-left: auto;/*Margin is used to maove or direct information, in this case to the left*/
    margin-right: auto;/*Margin is used to maove or direct information, in this case to the right*/
}
.navbar{/*Makes a Navbar code for all of the body information in each page*/
    background-color: rgba(41, 35, 35, 0); /*RGBA is for changing the colour manually*/
}
.container{/*Makes a Container code for all of the body information in each page*/
    background-color: white;/*Makes the background color White*/
    margin-left: auto;/*Margin is used to maove or direct information, in this case to the left*/
    margin-right: auto;/*Margin is used to maove or direct information, in this case to the right*/
}
.navbar-nav{/*Makes a Navbar-nav code for all of the body information in each page*/
    font-weight: bold;/*Makes the text look more presentable*/
    font-size: 23px;/*Changes the size of the font to 23px*/
    padding: 3px;/*Makes space around information/image*/
    
}
.nav-item:hover{/*Makes a Navbar-nav-item:hover code for all of the body information in each page*/
    border-top: 4px solid black;/*When hovering mouse over the navbar options, it will display a black bar on top of option*/
}
.Title{/*Makes a title code for all of the body information in each page*/
    font-weight: bold;/*Makes the text look more presentable*/
    text-decoration: underline;/*Underlines text*/
    margin-left: auto;/*Margin is used to maove or direct information, in this case to the left*/
    margin-right: auto;/*Margin is used to maove or direct information, in this case to the right*/
}
.carousel-inner{/*Makes a Carousel-inner code for all of the body information in each page*/
    text-align: center;/*Makes text align to the centre of the page*/
}
.carousel-caption{/*Makes a Carousel caption code for all of the body information in each page*/
    background-color: rgba(0, 0, 0, 0.5);/*RGBA is for changing the colour manually*/
    border-radius: 3px;/*Makes the edges of border have a slight curve*/
}
.carousel{/*Makes a Carousel code for all of the body information in each page*/
    background-color: rgba(0, 0, 0, 0.6);/*RGBA is for changing the colour manually*/
    border-radius: 3px;/*Makes the edges of border have a slight curve*/

}
.footer{/*Makes a footer code for all of the body information in each page*/
    background-color: rgba(41, 35, 35, 0.2);/*RGBA is for changing the colour manually*/
    border-radius: 20px;/*Makes the edges of border have a slight curve*/
    padding: 20px;/*Makes space around information/image*/

}
.Button:hover{/*Makes a Button hover code for all of the body information in each page*/
    border-top: 4px solid black;/*When hovering mouse over the navbar options, it will display a black bar on top of option*/
    text-decoration: none;/*dosen't add any decoration*/
    color: black;/*Makes the text black on hover*/
}
.Button, Button{/*Makes a Button hover code for all of the body information in each page*/
    font-weight: bold;/*Makes the text look more presentable*/
    color:dimgrey;/*Makes the colour dimgrey*/
    text-decoration: none;/*dosen't add any decoration*/
}
.Title{/*Makes a title hover code for all of the body information in each page*/
    font-weight: bold;/*Makes the text look more presentable*/
    color: black;/*Makes the colour black*/
    border: 2px solid black;/*Changes the border to solid black for the title*/
    text-decoration: none;/*dosen't add any decoration*/
    background-color: lightgrey;/*Changes the background colour of title to lightgrey*/
    margin-bottom: 90px;/*Margin is used to maove or direct information, in this case to the bottom*/
    margin-top: 10px;/*Margin is used to maove or direct information, in this case to the top*/
    padding: 2%;/*Makes space around information/image*/
    border-radius: 20%;/*Makes the edges of border have a slight curve*/
}
.PoPover:hover{/*Makes a popover:hover hover code for all of the body information in each page*/
    text-decoration: none;/*dosen't add any decoration*/
    color: dimgray;/*Makes the colour dimgrey*/
}
.PoPover{/*Makes a popover code for all of the body information in each page*/
    color: dimgray;/*Makes the colour dimgrey*/
    font-weight: bold;/*Makes the text look more presentable*/
    padding-top: 2px; /*Makes space around information/image on the top*/
}
.KSP{/*Makes a KSP information code for all of the body information in each page*/
    margin-top: 1%;/*Margin is used to maove or direct information, in this case to the top*/
    margin-bottom: -0.5%;/*Margin is used to maove or direct information, in this case to the bottom*/
    
}
.caption{/*Makes a caption information code for all of the body information in each page*/
    margin-left: auto;/*Margin is used to maove or direct information, in this case to the left*/
    margin-right: auto;/*Margin is used to maove or direct information, in this case to the right*/
    margin-top: 100px;/*Margin is used to maove or direct information, in this case to the top*/
}
.KSP {/*Makes a KSP information code for all of the body information in each page*/
    border: 1px solid #ddd;/*Changes the border to solid white for the title*/
    border-radius: 4px;/*Makes the edges of border have a slight curve*/
    padding: 5px;/*Makes space around information/image*/
    margin-left: auto;/*Margin is used to maove or direct information, in this case to the left*/
    margin-right: auto; /*Margin is used to maove or direct information, in this case to the right*/
  }
  
  .KSP:hover {/*Makes a KSP hover information code for all of the body information in each page*/
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);/*Custom changing box shadow*/
  }
  iframe{/*Makes a iframe information code for all of the body information in each page*/
    margin-top: 70px;/*Margin is used to maove or direct information, in this case to the top*/
    margin-bottom: 20px;/*Margin is used to maove or direct information, in this case to the bottom*/
    margin-left: auto;/*Margin is used to maove or direct information, in this case to the left*/
    margin-right: auto;/*Margin is used to maove or direct information, in this case to the right*/
  }
  .title2{/*Makes a title2 information code for all of the body information in each page*/
    padding: 8px;/*Makes space around information/image*/
  }
  .subheading{/*Makes a subheading information code for all of the body information in each page*/
    background-color: lightgrey;/*Changes the background colour of title to lightgrey*/
    text-align: center;/*Aligns the text to the center*/
    padding: 3px;/*Makes space around information/image*/
    margin-top: 10px;/*Margin is used to maove or direct information, in this case to the top*/
  }

  .title3{/*Makes a title3 information code for all of the body information in each page*/
    background-color: lightgray;/*Changes the background colour of title to lightgrey*/
    text-align: center;/*Aligns the text to the center*/
  }
  .col2{/*Makes a col2 information code for all of the body information in each page*/
    background-color: lightgrey;/*Changes the background colour of title to lightgrey*/
    margin-left: auto;/*Margin is used to maove or direct information, in this case to the left*/
    margin-right: auto;/*Margin is used to maove or direct information, in this case to the right*/
    width: 100%;/*Changes the width of the infromation*/
    text-align: center;/*Aligns the text to the center*/
    padding: 9px;/*Makes space around information/image*/
  }
  .InterPlanet{/*Makes a col2 information code for all of the body information in each page*/
    margin-left: 750px;/*Margin is used to maove or direct information, in this case to the left*/
    position: fixed;/*Fixes the position in order for the image to not move*/
  }